<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jselivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="styleboot.css" />
    <title>Insight   IIT Bombay    </title>
  </head>
  <body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-md bg-secondary navbar-warning py-1">
      <div class="container">
        <a href="https://insightiitb.netlify.app/" class="navbar-brand"
          ><p style="color: lime"> Insight -  The Article Adda </p></a
        >

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                href="https://insightiitb.netlify.app/"
                target="_blank"
                class="navlink"
                ><p style="color:gold">Home page    |   </p></a
              >
            </li>
            <li class="nav-item">
              <a
                href="https://insightiitb.netlify.app/summerblog.html"
                target="_blank"
                class="navlink"
                ><p style="color:aquamarine">  summer blog   | </p> </a
              >
            </li>
            <li class="nav-item">
              <a
                href="https://insightiitb.netlify.app/sophieblog.html"
                target="_blank"
                class="navlink"
                ><p style="color:deepskyblue">Sophie Blog   |</p></a
              >
            
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!--showcase-->

    <section
      class="bg-dark text-light p-5 p-lg-0 pt-lg-5text-center text-sm-start"
    >
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
          <div>
            <h1 style="font-size: xxx-large">
                      Time To       <span class="text-warning" style="font-size: xxx-large">
                     Know Your insti </span
              >
            </h1>
            <p class="lead" style="font-size: xx-large">
              Insight - The official student media body of IIT Bombay
            </p>
            <a
              class="btn btn-primary"
              href="mailto:insight@iitb.ac.in"
              role="button"
            >
              <button class="btn btn-warning btn-lg">
                 CLICK HERE TO ADD YOUR ARTICLE -->
              </button>
            </a>
          </div>
          
        </div>
      </div>
    </section>

    

    <!--Boxes-->{
    <section class="p-5">
      <div class="container">
        <div class="row text-center g-4">
          <div class="col-md">
            <div class="card bg-dark text-light">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-person-square"></i>
                </div>
                <h3 class="card-title mb-3">Placements, internal ‘brain drain’ and 
                    academic life of undergraduates..</h3>
                <p class="card-text">
                    "" The nature of jobs that undergraduate students at IIT Bombay opt for is analysed in this study. We
                    examine the factors that affect student choices, especially what makes them opt for core (related to 
                    branch of study) or non-core jobs. We factor in the effect of their branch of study (or department), 
                    the remuneration offered, extracurricular activities pursued and the dominant aspirational narra-
                    tives...
                </p>
                <a
                  href="https://insightiitb.netlify.app/blog/braindrain"
                  target="_blank"
                  class="btn btn-primary"
                  > click here to read more</a
                >
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card bg-dark text-light">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-person-square"></i>
                </div>
                <h3 class="card-title mb-3">The ChatGPT Effect: An Insight</h3>
                <p class="card-text">
                  Artificial intelligence and machine learning technologies have been making waves in the education sector,
                  and ChatGPT is no exception.Developed by OpenAI , ChatGPT is a language modek that can generate human-like
                   responses to a variety of questions and prompts. As studentat one of the top technological Institute in 
                   the country,IIT Bombay students are well equipped to take advantage of these advancements.But what are the
                    potential positive and negative impact of ChatGPTon their education and beyond... 
                </p>
                <a
                  href="https://insightiitb.netlify.app/blog/chat-gpt.html"
                  target="_blank"
                  class="btn btn-primary"
                  > click here to read more</a
                >
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card bg-dark text-light">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-person-square"></i>
                </div>
                <h3 class="card-title mb-3">India@75, ft. IIT Bombay</h3>
                <p class="card-text">
                    Engineers are often known for the art of being resourceful, minimalistic, and innovative (i.e., jugaadu). When
                     this translates from submitting a course project at midnight to much bigger scales, we can create impact that 
                    can solve a lot of the global problems. The capacity to do so can be imparted through the study of policy. In its
                     75th year of independence, the most prominent policies of India today are those revolving around sustainability. 
                     Sustainable development meets the needs of the present without compromising the ability of future generations to meet 
                     their own needs..
                </p>
                <a
                  href="https://insightiitb.netlify.app/blog/india@75"
                  target="_blank"
                  class="btn btn-primary"
                  >click here to read more </a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>}

    <!--Learn Sections-->
    <section id="learn" class="p-5 bg-warning">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md">
            
          </div>
          <div class="col-md p-5">
            <h2>The IIT Story: Issues and Concerns</h2>
            <p class="lead">
                The IITs have consistently performed as institutions of world-class excellence in an otherwise mediocre higher 
                educational system. IIT products have fared brilliantly in advanced sectors of the global economy, but has India
                 benefited anywhere near enough? An issues focus and a look at the future.JAWAHARLAL NEHRU could not have imagined
                  that the `golden jubilee' of India's finest academic institution, the Indian Institute of Technology (IIT), which
                 he was instrumental in founding,
            </p>

            <a
              href="https://frontline.thehindu.com/the-nation/article30215649.ece"
              target="_blank"
              class="btn btn-dark mt-3"
            >
              <i class="bi bi-chevron-right">click here to read more</i>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section id="learn" class="p-5 bg-dark">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md p-5">
            <h2 style="color: aliceblue">"Calm a Distressed Mind by Changing Your Environment"</h2>
            <p class="lead text-light">
                One of the biggest contributors to our happiness is something we barely pay attention to: the voice inside 
                our own heads.As psychologist Ethan Kross describes in his new book Chatter, that voice is constantly analyzing 
                the situations we’re in, reflecting on the past and future, and telling us who we are. While sometimes friendly
                 and optimistic—it’s OK, everything’s going to work out!


            </p>

            <a
              href="https://greatergood.berkeley.edu/article/item/calm_a_distressed_mind_by_changing_your_environment"
              target="_blank"
              class="btn btn-warning mt-3"
            >
              <i class="bi bi-chevron-right"> click here to Read more</i>
            </a>
          </div>
          <div class="col-md">
           
          </div>
        </div>
      </div>
    </section>
    <section id="learn" class="p-5 bg-warning">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md">
            
          </div>
          <div class="col-md p-5">
            <h2>"Toxic Culture Is Driving the Great Resignation"</h2>
            <p class="lead">
                Research using employee data reveals the top five predictors of attrition and four actions managers can take in the short term to reduce attrition.
                More than 40% of all employees were thinking about leaving their jobs at the beginning of 2021, and as the year went on, workers quit in unprecedented 
                numbers.1 Between April and September 2021, more than 24 million American employees left their jobs, an all-time record.2 As the Great Resignation rolls 
                on, business leaders are struggling to make sense of the factors driving the mass exodus. More importantly, they are looking for ways to hold on to valued
                 employees...
            </p>

            <a
              href="https://sloanreview.mit.edu/article/toxic-culture-is-driving-the-great-resignation/"
              target="_blank"
              class="btn btn-dark mt-3"
            >
              <i class="bi bi-chevron-right"> click here to  Read more</i>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section id="learn" class="p-5 bg-dark">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md p-5">
            <h2 style="color: aliceblue">IIT Bombay breaks into top 150 in QS world ranking, 8 years after IISc first made it</h2>
            <p class="lead text-warning">
                The Indian Institute of Technology (IIT) in Mumbai has achieved its highest rank ever, 
                breaking into the world’s top 150 universities in the latest edition of the QS World
                 University Ranking released late Tuesday night. This marks the first time in eight
                  years that an Indian higher education institution has made it to the top 150 list, 
                  with the Indian Institute of Science (IISc) Bangalore previously achieving this feat 
                  in 2016 with a ranking of 147.....
            </p>

            <a
              href="https://indianexpress.com/article/education/iit-bombay-breaks-into-top-150-in-qs-world-ranking-eight-years-after-iisc-first-made-it-jee-advanced-2023-8689414/"
              target="_blank"
              class="btn btn-light mt-3"
            >
              <i class="bi bi-chevron-right">click here to Read more</i>
            </a>
          </div>
          <div class="col-md">
            
          </div>
        </div>
      </div>
    </section>
  </section>
  <section id="learn" class="p-5 bg-warning">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md">
          
        </div>
        <div class="col-md p-5">
          <h2><b>Need for sex education in schools</h2>
          <p class="lead">
            When was the last time you used algebra in real life? If you are not an engineer or a scientist, then Nowhere! As terrible as it was 
            for some students to do it, they still did it and nobody stopped them. So there should not be an issue for giving sex education to 
            young minds. Knowing about your own body is our right and the parents have the responsibility to provide with them the knowledge 
            and awareness a young mind needs to know. Access to comprehensive sex education is a human right.
          </p>

          <a
            href="https://blog.ipleaders.in/need-sex-education-schools/"
            target="_blank"
            class="btn btn-dark mt-3"
          >
            <i class="bi bi-chevron-right"> click here to Read more</i>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!--accordion-->
  <section id="questions" class="p-5">
    <div class="container">
      <h2 class="text-center mb-4"> Frequently Asked Questions</h2>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
               Who are the winners of The Institute Journalism Awards 2021-22 ?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                This year, we have Shaswat Gupta and Pranav Kasat as recipients of the Institute Journalism Colour Awards; and Mithilesh Vaidya, Soham Purohit and Gaurav Badre for the Institute Journalism Special Mentions.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
             When Rangavali held in the insti ?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Rangavali, the first ever queer fest of IIT-B, was held on the 25th and 26th of March. Conducted by Saathi, the LGBTQ+ resource group of IIT Bombay, this marks a welcome change for students wanting an inclusive platform to express their identity and talents without fear of being judged.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              When was the Insight cluub of IIT Bombay established?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Insight Club at IIT Bombay was established in the year 2011..
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>

  <!--contact-->
  <section class="p-5">
    <div class="container">
      <div class="row g-4">
        <div class="col-md">
<h2 class="text-center mb-4">
  FOLLOW US ON OTHER PAGES
</h2>
<UL class="LIST-GROUP LIST-GROUP-FLUSH LEAD">
  <li class="list-group-item">
    <span class="fw-bold">Email--> </span> insight@iitb.ac.in
  </li>
  <li class="list-group-item">
    <span class="fw-bold">Instagram --> </span> https://www.instagram.com/insight.iitb/?__coig_restricted=1
  </li>
  <li class="list-group-item">
    <span class="fw-bold">FACEBOOK--></span> https://www.facebook.com/insight.iitbombay/
  </li>
  <li class="list-group-item">
    <span class="fw-bold">linkedin --> </span> https://in.linkedin.com/company/insight-iitb
  </li>
  <li class="list-group-item">
    <span class="fw-bold">Contact us --> </span> Achintya Kunj Goyal 9819817345 (chief Editor) , Muskan Chandra 9833202169 (Chief Editor) 
  </li>
</UL>

        </div>
      </div>
    </div>
  </section>
  <!--footer-->
  <footer class="p-5 bg-dark text-white text-center">
    <div class="container">
      <p class="lead">
        Copyright &copy; 2023 NewsCentral
      </p>
    </div>
  </footer>
  <script src=""></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>